@media screen and (max-width: 375px) {
    body {
        background-size: contain;
        align-items: center;
    }
    .container{
        width: 40vw;
    }
    #main-image{
        width: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
body {
    margin: 0;
    background-size: cover;
    background-image: url('./assets/danji_background.png');
}
.container {
    background-color: rgba(238, 237, 251, 0.5);
    border: 10px solid white;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Hi Melody', sans-serif;   
   
}
.title2 {
    font-size: 3rem;
    color: #FF9BD2;
}
.title3 {
    font-size: 2rem;
}
.pink-text {
    font-size: 2rem;
    color: #D63484
}
#pass-image {
    width: 500px;
    align-items: center;

}
#play-button {
    background-color: #80dca9;
    font-family: 'Hi Melody', sans-serif;
    font-weight: bold;
    border-radius: 20px;
    border: none;
}
#reset-button {
    background-color: #80dca9;
    font-family: 'Hi Melody', sans-serif;
    font-weight: bold;
    border-radius: 20px;
    border: none;
}
#chance-area {
    font-size:  2rem;
    font-weight: bold;
}
#user-input{
    font-family: 'Hi Melody', sans-serif;
    font-weight: bold;
    text-align: center;
}